@page "/actor/edit/{id:int}"
@inject IActorApi actorApi
@inject NavigationManager navigationManager
<h3>Edit actor</h3>

<ActorAddEditForm Actor="model" Loading="_loading" OnValid="Edit"></ActorAddEditForm>

@if (_showError)
{
    <p class="text-danger"> The request could not be processed.</p>
}
@code {

    [Parameter]
    public int Id { get; set; }
    public ActorDto model = new();
    private bool _loading = false;
    private bool _showError = false;

    protected override async Task OnInitializedAsync()
    {
        model = await actorApi.GetById(Id);
    }

    private async Task Edit()
    {
        _loading = true;
        _showError = false;
        // Console.WriteLine(navigationManager.BaseUri);
        //Console.WriteLine(navigationManager.Uri);
        // navigationManager.NavigateTo("movie");
        var result = await actorApi.Update(model);
        if (result is null)
        {
            navigationManager.NavigateTo("actors");
        }
        else
        {
            _showError = true;
            Console.WriteLine(_showError);
        }

        _loading = false;

    }
}
